<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Rafe C00lz Git</span>
  </div>
  <!-- Tabs -->
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="#scHome" class="mdl-layout__tab is-active">Home</a>
    <a href="#scRobo" class="mdl-layout__tab">Robots</a>
    <a href="#scSec" class="mdl-layout__tab">Security</a>
    <a href="#scWeb" class="mdl-layout__tab">Websites</a>
    <a href="#scFlynn" class="mdl-layout__tab">Flynn Industries</a>
    <a href="#scGraphs" class="mdl-layout__tab">Graphs</a>
  </div>
</header>
