﻿footer {
    margin: 50px 0;
}

#companyTitle{
	font-size:35px;
	vertical-align:middle;
}

.companyLogo{
	vertical-align:middle;
	padding-top:40px;
}

#GloveBoard > img{
  width:30%;
  height:30%;
  transform:rotate(90deg);
}

#robo > img{
  width:30%;
  height:30%;
  display:block;
}
