<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}
      {% include drawer.html %}
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scHome">
          <div class="page-content">
            <div class="col-md-8">
              <h1>Hello World!</h1>

              <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="fake-translate">
                <i class="material-icons">translate</i>
              </button>
            </div>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scRobo">
          <div class="page-content">
            <article id="robo">
              <h2>Pet Robot</h2>
              <p><span class="glyphicon glyphicon-time"></span> Posted on: The magic number 42.</p>
              <hr>
              <img src="./img/robo1.jpg" alt="My Pet Robot">
              <a href="https://github.com/rafecoolz/BOT">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">code</i>
                </button>
              </a>
            </article>


            <hr>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scSec">
          <div class="page-content">
            <h2>
                <a href="#">Nearly Fielding Communications</a>
            </h2>
            <p><span class="glyphicon glyphicon-time"></span> Posted on the beginning of time</p>
            <hr>
            <p>Researching NFC for a security class project.
                One of my funner (funnest? funnester?) class projects b/c we're looking at both the hardware and software side of things.
            </p>
            <img class="" src="img/NFCproj.jpg" alt="NFC research project" width="30%" height="30%">
            <hr>

            <hr>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scWeb">
          <div class="page-content">
            <h1>Show some websites here</h1>
          </div>
        </section>

        <section class="mdl-layout__tab-panel" id="scFlynn">
          <div class="page-content">
            <div class="companyLogo">
              <center><img id="featherImg" src="img/wings64.png"/><span id="companyTitle">FLYNN INDUSTRIES</span></center>
            </div>
            <hr>
            <center><h2>VOS</h2><p><strong>Virtual reality Operating System interface</strong></p></center>
            <article>
              <div style="width:50%;margin-left:25%;">
                <h3>File System Demonstration</h3>
                <iframe width="560" height="400" src="https://www.youtube.com/embed/IPh5KH3GgkI" frameborder="0" allowfullscreen></iframe>
              </div>
            </article>
            <br>
            <br>
            <br>
            <br>
            <br>
            <article id="GloveBoard">
              <h3>VR Glove Keyboard</h3>
              <p>Using the Adafruit Flora in combination with the MPR121 touch sensors and Flora BLE module,
                these gloves are an experiment in accepting user input from within Virtual Reality. The immersive
                environment that is offered with Virtual Reality prevents the user from seeing anything from the real
                reality and therefore makes using a standard keyboard a problem.
              </p>
              <br>
              <br>
              <br>
              <br>
              <img src="./img/vr-gloves-1.jpg" alt="First Prototype">
              <br>
              <img src="./img/vr-gloves-2.jpg" alt="Second Prototype">
            </article>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <div>Feather icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
          </div>
        </section>



        <section class="mdl-layout__tab-panel" id="scGraphs">
          <div class="page-content">
            <article id="FreeGraph">
              <h2>FreeGraph</h2>
              <p><span class="glyphicon glyphicon-time"></span> Posted on: Am I late for tea?</p>
              <hr>
              <p>Electron/AngularJS application to free form sketch network style graphs.</p>
              <a href="https://github.com/rafecoolz/FreeGraph">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">code</i>
                </button>
              </a>
            </article>
            <hr>
            <article id="ServerMap">
              <h2>Server Mapping</h2>
              <p><span class="glyphicon glyphicon-time"></span> Posted on: What's this epoch thing?</p>
              <hr>
              <p>Perl scripting to map a portion of internet traffic through traceroutes.</p>
              <p>Used JS to pull a list of urls from the 5000 best of website,
                Perl to script the traceroutes to the websites,
                Gephi graphing software to make the cool maps!</p>
                <p>Pictures and data can be found in the repository</p>
                <a href="https://github.com/rafecoolz/ServerMapping">
                  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">code</i>
                  </button>
                </a>
            </article>
          </div>
        </section>
      </main>
    </div>
    {% include footer.html %}

  </body>

</html>
